<form action="/students" method="post">

  <label for="first-name">First Name:</label>
  <input type="text" name="first_name" id="first-name">

  <label for="second-name">Second Name</label>
  <input type="text" name="second_name" id="second-name">

  <label for="house-selection">House: </label>
  <select id='house-selection'  name="house_id">
    <option value="Slytherin">Slytherin</option>
    <option value="Gryffindor">Gryffindor</option>
    <option value="Hufflepuff">Hufflepuff</option>
    <option value="Ravenclaw">Ravenclaw</option>
  </select>

  <label for="age">Age: </label>
  <input type="text" name="age" id="age">

  <input type="submit" value="Create Student">

</form>
